body {
  font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}

hr {
  margin: 10px 0;
}

.panel-body {
  padding 10px;
}

.container-fluid {
  margin: 20px 0;
}

.question {
  font-size: 18px;
  margin: 0;
}

button.btn.btn-block {
  width: 50%;
  height: 60px;
  font-size: 18px;
  font-weight: 700;
  transition: all 1s ease-in-out;
  display: inline-block;
  margin-top: 0;
}

button.btn.btn-yes {
  background-color: #43A047;
  border-color: #388E3C;
  border-radius: 4px 0 0 4px;
}

button.btn.btn-no {
  background-color: #E53935;
  border-color: #D32F2F;
  border-radius: 0 4px 4px 0;
  float: right;
}

.answer-container {
  overflow: hidden;
  max-height: 60px;
}

.progress-container {
  margin-top: 10px;
  height: 26px;
}

.progress-yes {
  background-color: #2E7D32;
  border-color: #1B5E20;
  border-radius: 4px 0 0 4px;
  padding-top: 3px;
}

.progress-no {
  background: #C62828;
  border-color: #B71C1C;
  border-radius: 0 4px 4px 0;
  padding-top: 3px;
}

button.btn.btn-full {
  border-radius: 4px;
  width: 100%;
  cursor: default;
}

button.btn.btn-full:focus {
  outline: 0;
}

button.btn.btn-none {
  width: 0;
  padding: 0;
  border: none;
}

button.btn span {
  transition: width 1s ease-in-out;
  display: inline-flex;
  overflow: hidden;
  width: 30px;
}

button.btn.btn-none span {
  width: 0;
}

.add-new-poll {
  background-color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 1rem 0;
}

.form-question {
  width: 70%;
  display: inline-block;
}

.form-submit {
  width: 30%;
  float: right;
}

.questions-body {
  margin-bottom: 5rem;
}

#new-question {
  border-radius: 4px 0 0 4px;
}

#submit {
  border-radius: 0 4px 4px 0;
}
